<p>
	<strong>Name: </strong>
	<%= @author.name %>
</p>
<p>
	<strong>Email: </strong>
	<%= @author.email %>
</p>
<p>
	<strong>Contact: </strong>
	<%= @author.contact%>
</p>
<p>
	<strong>address: </strong>
	<%= @author.address %>
</p>
<%= link_to "back",authors_path %>
<%= link_to "edit",edit_author_path %>