<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>


<div class="well">
  <h1 class="text-center">Add a Comment</h1>
</div>
<%= render 'comments/new_news_comment' %>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_path %>

